<script>
    import Sidemenu from "../lib/widgets/component/app/Sidemenu.svelte";
    import MenuRegistration from "../lib/widgets/component/app/MenuRegistration.svelte";
    import PageRegistration from "../lib/page/registration/PageRegistration.svelte";
    import MenuErsparnisrechner from "../lib/widgets/component/app/MenuErsparnisrechner.svelte";
    import PageErsparnisrechner from "../lib/page/ersparnisrechner/PageErsparnisrechner.svelte";
    import MenuAuswertung from "../lib/widgets/component/app/MenuAuswertung.svelte";
    import PageAuswertung from "../lib/page/auswertung/PageAuswertung.svelte";
    let barsReady = false

    export let showSideMenu = false
    export let activeLink = 0

</script>

<MenuAuswertung bind:showSideMenu={showSideMenu} bind:activeLink="{activeLink}"/>
<Sidemenu bind:showSideMenu={showSideMenu}/>

<br>
<br>
<br>

<div class="w-100 p-5 pt-0 pb-0">
    <div class="row pt-5">
        <div class="col-12">
            <PageAuswertung bind:barsReady/>
        </div>
    </div>
</div>



<style>
    tbody {
        font-size: 0.9em;
    }

    #w-hf-card-calculation-result {
        transition: all .5s;
    }

    .col-5 {
        max-width: 41.66666667%  !important;
        width: 100% !important;
    }

    .col-0 {
        max-width: 0 !important;
        width: 100%;
        opacity: 0;
    }

    .table>:not(:first-child) {
        border-top: 0 !important;
    }

    .w-ersparnisrechner {
        /*transform: translateX(-50%);*/
        /*margin-left: 50%;*/
        /*max-width: 665px;*/
        /*width: 100%;*/

        transition: all .5s;
        /*margin-left: 50%;*/
        /*transform: translateX(-50%);*/
    }

    .w-ersparnisrechner.resultShown {
        margin-left: 0%;
        transform: translateX(0);
    }
</style>