<script>
    import MenuAuswertung from '$lib/widgets/component/app/MenuAuswertung.svelte';
    import Belegpruefung from "../lib/page/belegpruefung/Belegpruefung.svelte";
    import Sidemenu from "../lib/widgets/component/app/Sidemenu.svelte";
    import {onMount} from "svelte";

    let barsReady = false
    export let activeLink = 1

    let progress_1 = 67
    let progress_2 = 92

    function reorderPages(){
        if(0 === activeLink){

        }
        if(1 === activeLink){

        }
        if(2 === activeLink){
        }
    }

    let mapLocation = {
        0 : {
            left: '80vw'
        },
        1: {
            left: '80vw'
        },
        2 : {
            left: '200vw'
        }
    }

    let bottomBoxLocation = {
        0 : {
            left: '40px'
        },
        1: {
            left: '40px'
        },
        2 : {
            left: '200vw'
        }
    }

    let showSideMenu = false

    // used to call reorderPages when activeLink changes
    $: -1 !== activeLink && reorderPages()
</script>

<MenuAuswertung currentLinkIndex="{1}" bind:showSideMenu={showSideMenu} bind:activeLink="{activeLink}"/>
<Sidemenu bind:showSideMenu={showSideMenu}/>

<div class="" style="height: 100vh;position: relative;top: 0;width: 100vw;overflow-x:hidden;">
    <div class="hf-page position-absolute" style="left: {(100 * 1 + 100) - 200}vw">
        <Belegpruefung/>
    </div>

</div>

<style>
    .hf-page {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;

        padding-top: 80px;
        padding-left: 40px;

        transition: all 1s;
    }

    .box-bottom-quality {
        transition: all 1s;
    }

    .map {
        height: 80vh;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 0;

        transition: all 1s;
    }


    :global(.swal2-container) {
        z-index: 99999999999 !important;
    }

    :global(.swal2-confirm) {
        border-radius: 6px !important;
    }

    :global(.swal2-html-container h4) {
        font-size: 1.3em;
        font-weight: 600;
    }

    :global(.swal2-html-container td) {
        text-align: left;
    }
</style>

<img class="map" src="/src/assets/img/map_clean.svg" alt="" style="left: {mapLocation[activeLink].left};">

<!--<style>-->

<!--</style>-->