<script>
    import Sidemenu from "../lib/widgets/component/app/Sidemenu.svelte";
    import MenuRegistration from "../lib/widgets/component/app/MenuRegistration.svelte";
    import PageRegistration from "../lib/page/registration/PageRegistration.svelte";

    export let showSideMenu = false
    export let activeLink = 0
</script>

<MenuRegistration bind:showSideMenu={showSideMenu} bind:activeLink="{activeLink}"/>
<Sidemenu bind:showSideMenu={showSideMenu}/>

<PageRegistration/>