<script>
    import BoxHorizontalSwitch from "./BoxHorizontalSwitch.svelte";

    export let left = ''
    export let right = ''
    export let subline = ''
    export let switchShow = false
    export let switchText = ''

    export let left2 = null
    export let subline2 = null

    export let showConnectedBox = false

    export let inputName = false
</script>

<div class:showConnectedBox class="{switchShow ? 'has-switch' : ''} mb-2 hf-bg-gradient" style="padding: 0 30px;{switchShow ? 'margin-top: 50px;' : ''};height:100%;">
    {#if switchShow}
        <div class="col-12">
            <BoxHorizontalSwitch inputName="{inputName}" bind:showConnectedBox={showConnectedBox} text="{switchText}"/>
        </div>
    {/if}
    <div class="col-12 w-main-row {switchShow ? 'has-switch-row' : ''}" class:showConnectedBox>
        <div class="row pt-2 pb-2">
            <div class="col-7">
                <h5 class="d-flex align-items-center mb-0">{left}</h5>
                {#if '' !== subline}
                    <span style="font-size: 12px;margin-top: -3px;float:left;" class="body-2">{subline}</span>
                {/if}
            </div>
            <div class="col-5 d-flex align-items-center justify-content-end">
                <slot></slot>
            </div>
            {#if null !== left2}
                <div class="col-7 mt-2">
                    <h5 class="d-flex align-items-center mb-0">{left2}</h5>
                    {#if null !== subline2}
                        <span style="font-size: 12px;margin-top: -3px;float:left;" class="body-2">{subline2}</span>
                    {/if}
                </div>
                <div class="col-5 mt-2 mb-2 d-flex align-items-center justify-content-end">
                    <slot name="slot2"></slot>
                </div>
            {/if}
        </div>
    </div>
</div>

<style>
    .has-switch {
        max-height: 0px;
        height: 100%;

        margin-bottom: 20px !important;

        transition: all 1s;
    }

    .w-main-row.has-switch-row {
        transition: all 1s;
        max-height: 0 !important;
        overflow: hidden;
    }

    .w-main-row.has-switch-row.showConnectedBox {
        transition: all 1s;
        max-height: 400px !important;
        height: 100%;
    }

    .has-switch.showConnectedBox {
        max-height: 400px !important;

        margin-bottom: 0px;

        transition: all 1s;
    }
</style>