<script>
	export let barsReady = false

	let bars = {
		bar_1 : {
			start: 0,
			height: 79,
		},
		bar_2 : {
			start: 0,
			height: 57,
		},
		bar_3 : {
			start: 0,
			height: 105,
		}
	}

    function animate_bar(bar)
    {
        let interval = setInterval(function(){
            bars[bar].start++

            if(bars[bar].start >= bars[bar].height){
                clearInterval(interval)
            }
        }, 10)
    }

	import { onMount } from "svelte";
    onMount(() => {
		let triggered = false
		let trigger = setInterval(function(){
			if(barsReady){
				triggerBars()
				clearInterval(trigger)
			}
		}, 200)
    })

	function triggerBars(){
		animate_bar('bar_1')
        animate_bar('bar_2')
        animate_bar('bar_3')
	}
</script>

<div class="w-bars">
	<div class="v439_9811">
	   <div class="v439_9812">
		  <div class="v439_9813">
			 <div class="v439_9814"></div>
			 <div class="v439_9816">
				<div class="v439_9817">
				   <div class="v439_9818"></div>
				   <span class="v439_9819">Erfolgreich </span>
				</div>
				<div class="v439_9820">
				   <div class="v439_9821"></div>
				   <span class="v439_9822">Fehlerhaft</span>
				</div>
			 </div>
			 <span class="v439_9823">März</span>
			 <div class="v439_9824"></div>
			 <span class="v439_9825">Feb</span>
			 <div class="v439_9826"></div>
			 <span class="v439_9827">Jan</span>
			 <div class="v439_9828"></div>
			 <div class="v439_9829">
				<div class="v439_9830"></div>
				<!-- BAR 1 (positive) -->
				<div class="v439_9831" style="height:{bars['bar_1'].start}px;top:{bars['bar_1'].height-bars['bar_1'].start}px"></div>
			 </div>
			 <div class="v439_983999">
				<div class="v439_9833"></div>
				<!-- BAR 2 (positive) -->
				<div class="v439_9834" style="height:{bars['bar_2'].start}px;top:{bars['bar_2'].height-bars['bar_2'].start}px"></div>
			 </div>
			 <div class="v439_9832">
				<div class="v439_9835"></div>
				<div class="v439_9836" style="height:{bars['bar_3'].start}px;top:{bars['bar_3'].height-bars['bar_3'].start}px"></div>
			 </div>
			 <div class="v439_9837"></div>
		  </div>
	   </div>
	</div>
 </div>

<style>
	
	.w-bars {
		width: 160px !important;
		float: left;
		overflow: hidden;
		height: 240px;
		position: relative;
		transform: scale(1.2);
	}

  .w-bars .v439_9811 {
	width: 162px;
	height: 241px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
  }
  .w-bars .v439_9812 {
	width: 162px;
	height: 241px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
  }
  .w-bars .v439_9813 {
	width: 162px;
	height: 241px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
  }
  .w-bars .v439_9814 {
	width: 162px;
	height: 241px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
  }
  .w-bars .v439_9815 {
	width: 162px;
	height: 241px;
	background: rgba(255,255,255,1);
	padding: 27px 36px;
	margin: 12px;
	opacity: 0.8999999761581421;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	box-shadow: 0px 1.9879201650619507px 1px rgba(0.42352941632270813, 0.2862745225429535, 0.6745098233222961, 0.019680192694067955);
	overflow: hidden;
  }
  .w-bars .v439_9816 {
	width: 140px;
	height: 14px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 216px;
	left: 19px;
	overflow: hidden;
  }
  .w-bars .v439_9817 {
	width: 108px;
	height: 14px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
  }
  .w-bars .v439_9818 {
	width: 8px;
	height: 8px;
	background: #cee6fe;
	opacity: 1;
	position: absolute;
	top: 2px;
	left: 0px;
	border: 0px solid rgba(150,150,150,1);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	overflow: hidden;
  }
  .w-bars .v439_9819 {
	width: 95px;
	color: rgba(68,68,79,1);
	position: absolute;
	top: 0px;
	left: 14px;
	font-family: "Open Sans";
	font-weight: Regular;
	font-size: 9px;
	opacity: 1;
	text-align: left;
  }
  .w-bars .v439_9820 {
	width: 58px;
	height: 14px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 72px;
	overflow: hidden;
  }
  .w-bars .v439_9821 {
	width: 8px;
	height: 8px;
	background: rgba(255,112,139,1);
	opacity: 1;
	position: absolute;
	top: 2px;
	left: 0px;
	border: 0px solid rgba(150,150,150,1);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	overflow: hidden;
  }
  .w-bars .v439_9822 {
	width: 39px;
	color: rgba(56,56,116,1);
	position: absolute;
	top: 0px;
	left: 14px;
	font-family: "Open Sans";
	font-weight: Regular;
	font-size: 9px;
	opacity: 1;
	text-align: left;
  }
  .w-bars .v439_9823 {
	width: 21px;
	color: rgba(56,56,116,1);
	position: absolute;
	top: 174px;
	left: 121px;
	font-family: "Open Sans";
	font-weight: Light;
	font-size: 11px;
	opacity: 0.6000000238418579;
	text-align: center;
  }
  .w-bars .v439_9824 {
	width: 0px;
	height: 150px;
	background: rgba(241,241,245,1);
	opacity: 1;
	position: absolute;
	top: 14px;
	left: 132px;
	border: 0px solid rgba(150,150,150,1);
  }
  .w-bars .v439_9825 {
	width: 21px;
	color: rgba(56,56,116,1);
	position: absolute;
	top: 174px;
	left: 71px;
	font-family: "Open Sans";
	font-weight: Light;
	font-size: 11px;
	opacity: 0.6000000238418579;
	text-align: center;
  }
  .w-bars .v439_9826 {
	width: 0px;
	height: 150px;
	background: rgba(241,241,245,1);
	opacity: 1;
	position: absolute;
	top: 14px;
	left: 83px;
	border: 0px solid rgba(150,150,150,1);
  }
  .w-bars .v439_9827 {
	width: 21px;
	color: rgba(56,56,116,1);
	position: absolute;
	top: 174px;
	left: 22px;
	font-family: "Open Sans";
	font-weight: Light;
	font-size: 11px;
	opacity: 0.6000000238418579;
	text-align: center;
  }
  .w-bars .v439_9828 {
	width: 0px;
	height: 150px;
	background: rgba(241,241,245,1);
	opacity: 1;
	position: absolute;
	top: 14px;
	left: 33px;
	border: 0px solid rgba(150,150,150,1);
  }
  .w-bars .v439_9829 {
	width: 5px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 50px;
	left: 31px;
	overflow: hidden;
  }
  .w-bars .v439_9830 {
	width: 5px;
	height: 23px;
	background: rgba(255,112,139,1);
	opacity: 1;
	position: absolute;
	top: 77px;
	left: 0px;
	border: 0px solid rgba(150,150,150,1);
  }
  .w-bars .v439_9831 {

	border-top-left-radius: 5px;;
	border-top-right-radius: 5px;;

	width: 5px;
	height: 79px;
	background: #cee6fe;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 0px solid rgba(150,150,150,1);
  }

  .v439_9835, .v439_9833, .v439_9830 {
	border-bottom-left-radius: 5px;;
	border-bottom-right-radius: 5px;;
  }

  .w-bars .v439_983999 {
    width: 54px;
    height: 66px;
    /* background: red; */
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 72px;
    left: 81px;
    overflow: hidden;
  }

  .w-bars .v439_9832 {
	width: 54px;
	height: 131px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 22px;
	left: 81px;
	overflow: hidden;
  }
  .w-bars .v439_9833 {
	width: 5px;
	height: 10px;
	background: rgba(255,112,139,1);
	opacity: 1;
	position: absolute;
	top: 56px;
	left: 0px;
	border: 0px solid rgba(150,150,150,1);
  }
  .w-bars .v439_9834 {
	
	border-top-left-radius: 5px;;
	border-top-right-radius: 5px;;

	width: 5px;
	height: 57px;
	background: #cee6fe;
	opacity: 1;
	position: absolute;
	top: 50px;
	left: 0px;
	border: 0px solid rgba(150,150,150,1);
  }
  .w-bars .v439_9835 {
	width: 5px;
	height: 25px;
	background: rgba(255,112,139,1);
	opacity: 1;
	position: absolute;
	top: 105px;
	left: 49px;
	border: 0px solid rgba(150,150,150,1);
  }
  .w-bars .v439_9836 {

	border-top-left-radius: 5px;;
	border-top-right-radius: 5px;;

	width: 5px;
	height: 107px;
	background: #cee6fe;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 49px;
	border: 0px solid rgba(150,150,150,1);
  }
  .w-bars .v439_9837 {
	width: 139px;
	opacity: 1;
	position: absolute;
	top: 128px;
	left: 23px;
	border: 0.1px solid #f0f0f0;
  }
  </style>