<script>
    import Box from "../container/Box.svelte";

    export let text = ''
    export let showConnectedBox = false

    export let marginLeft = '-30'
    export let marginTop = '-40'
    export let width = '100%'

    export let inputName = ''
</script>

<div class="hf-box" style="margin-top: {marginTop}px;margin-left:{marginLeft}px;min-height: 64px;width:{width}!important;">
    <div class="row">
        <div class="col-9 d-flex align-items-center color-333" style="color: #333 !important;font-weight:600;font-size:12px;">{text}</div>
        <div class="col-3 d-flex align-items-center justify-content-end">
            <span class="text-details" style="color: #333 !important;">NEIN</span>
            <input id="{inputName}" name="{inputName}" on:click={() => showConnectedBox = !showConnectedBox} type="checkbox" class="m-2">
            <span class="text-details" style="color: #333 !important;">JA</span>
        </div>
    </div>
</div>

<style>

    :global(.color-333 *) {
        color: #333 !important;
    }

    input:checked {
        background-position: right center;
        background-position-x: right;
        background-position-y: center;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e"), var(--bs-gradient);

        background-color: #fe5d5e;
    }
    input {
        cursor: pointer;
        height: 1em;
        margin-top: 0.25em;
        vertical-align: top;
        background-color: #C5C5DE;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid #b6c1d2;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        -webkit-transition: background-color 0.15s ease-in-out, background-position 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: background-color 0.15s ease-in-out, background-position 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        -o-transition: background-color 0.15s ease-in-out, background-position 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: background-color 0.15s ease-in-out, background-position 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: background-color 0.15s ease-in-out, background-position 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

        min-width: 2em;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
        background-position: left center;
        border-radius: 2em;
    }

    div.hf-box {
        min-height: inherit;
        padding: 16px 30px !important;
        left: 0;
        color: #000 !important;
        box-shadow: 0 2px 5px #aaa;

        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
    }
</style>