<script>
    import Statusdots from './Statusdots.svelte';

    const settings = { columnFilter: false }

    import { apiData } from '../../store.js';

    import data from '../../../resources/partners'

    let rows

    export let includeButton = true

    export let activeLink

    export let currentPartnerId

    export let initTable = function(){}

    import { onMount } from "svelte";
    import ButtonSlim from "./text/ButtonSlim.svelte";
    import Statusdot from "./Statusdot.svelte";
    onMount(() => {
        //
        // jQuery.ajax({
        //     url: 'https://192.168.10.195/get_partner_list',
        //     type: "GET",
        //     dataType: "json",
        //     success: function (data) {
        //         apiData.set(data)
        //     },
        //     error: function (data) {
        //         console.log(data)
        //     }
        // });

        initTable()
        let pageNumber = 1

        setTimeout(function(){
            jQuery('.dataTables_filter label input').attr('placeholder', 'NACH PARTNER SUCHEN')
            updatePageNumber()

            jQuery('.paginate_button.next:not(.disabled)').on('click', function (){
                pageNumber++
                updatePageNumber()
            })

            jQuery('.paginate_button.previous:not(.disabled)').on('click', function (){
                pageNumber--
                updatePageNumber()
            })
        })

        function updatePageNumber(){
            //jQuery('.dataTables_paginate').append('<div class="pageNumber">' + pageNumber + '</div>')
        }
    })


</script>


<table id="table_partners" class="display">
    <thead>
        <tr>
            <th style="width: 0"></th>
            <th>PARTNER</th>
            <th>ORT</th>
            <th>DATENQUALITÄT</th>
            {#if includeButton}
                <th></th>
            {/if}
        </tr>
    </thead>
    <tbody>
    {#each $apiData as partner, i}
        <tr>
            <td>
                <span style="font-size: 0;position:absolute">{partner.data_quality}</span>
                <Statusdot percentage="{partner.data_quality}"/>
            </td>
            <td>{partner.partner_name}</td>
            <td>{partner.partner_contact}</td>
            <td>
                <span style="font-size: 0;position:absolute">{partner.data_quality}</span>
                <Statusdots percentage="{partner.data_quality}"/>
            </td>
            {#if includeButton}
                <td class="list_button" class:active={(1 === partner.partner_step)}>
                    <ButtonSlim bind:currentPartnerId bind:activeLink partner="{partner}" text="Auffordern"/>
                </td>
            {/if}
        </tr>
    {/each}
    </tbody>
</table>

<style>

    :global(td.list_button button) {
        pointer-events: none;
        cursor: no-drop;
    }

    :global(td.active button) {
        pointer-events: all !important;
        cursor: pointer !important;
        background: #fe5d5e !important;
    }
    :global(td.active button span) {
        color: #fff !important;
    }

    :global(
        table,
        table thead,
        table thead tr,
        table tbody,
        table tbody tr,
        table tbody tr td,
        table.dataTable.stripe tbody tr,
        table.dataTable.display tbody tr
    ) {
        background: transparent !important;
    }

    :global(
        .paginate_button.disabled
    )
    {
        opacity: 0.3;
        transition: all 1s;
    }

    :global(
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover
    ) {
        background: transparent !important;
        border: 1px solid transparent !important;
        color: #000 !important;
    }

    :global(
        table#table_partners,
        table#table_partners *
    )
    {
        border: 0 !important;
    }

    :global(table tbody td)
    {
        padding: 4px 8px !important
    }

    :global(table tbody tr)
    {
        /* Body / Body 2 */

        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */

        letter-spacing: 0.44px;

        /* Night Blue */

        color: #383874;
    }

    :global(
        .dataTables_info
    ){
        display: none;
    }

    :global(div.dataTables_filter label input::-webkit-input-placeholder) {
        color: #C5C5DE;
    }

    :global(div.dataTables_filter label:after) {
        position: absolute;
        font-family: 'Font Awesome 6 Free';
        content: '\f002';
        font-weight: 900;
        left: 270px;
        top: 11px;
        height: 100%;
        padding: 0 10px;
        color: #A1A3D4;
        opacity: 0.5;
        pointer-events: none;
    }

    :global(div.dataTables_filter label input) {
        width: 310px !important;
        float: left !important;
        border: 0 !important;

        display: block !important;
        padding: 0.375rem 0.75rem !important;
        background-color: #fff !important;
        background-clip: padding-box !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
        border-radius: 10px !important;
        padding: 0 20px !important;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;

        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 16px;
        /* identical to box height, or 160% */

        letter-spacing: 1.5px;
        text-transform: uppercase;

        color: #383874;

        height: 42px;

        filter: drop-shadow(0px 2px 4px rgba(170, 170, 170, 0.25));
    }
    :global(.dataTables_filter) {
        float: left !important;
    }
    :global(.dataTables_length) {
        display: none;
    }


    :global(th) {
        color: #C5C5DE;
        font-family: "Open Sans" !important;
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 12px !important;
        line-height: 16px !important;
        /* identical to box height, or 160% */

        letter-spacing: 1.5px !important;
        text-transform: uppercase !important;
    }

</style>