<script>
    import Statusdots from './Statusdots.svelte';
    import { Datatable } from 'svelte-simple-datatables'

    const settings = { columnFilter: false }

    import data from '../../../resources/partners'

    export let apiData = []

    let rows

    export let includeButton = true

    export let currentPartnerId = 0
    export let currentPartnerInformation = []

    import { onMount } from "svelte";
    import ButtonSlim from "./text/ButtonSlim.svelte";
    import Statusdot from "./Statusdot.svelte";

    let hover_bg_top = 0
    let width = 0
    let height = 0

    export let updateDatatable2
    $:updateDatatable2 && initTable()

    function initTable() {

        setTimeout(function() {
            jQuery('#table_partners_support').DataTable({
                "order": [[ 0, "asc" ]],
                "autoWidth": false,
                "pagingType": "simple",
                "columnDefs": [
                    {
                        "targets": 0,
                        "width" : "0",
                        visible: false
                    },
                    {
                        "targets": 1,
                    },
                    {
                        "targets": 2,
                        "orderable": false,
                    },

                ],

                "pageLength": 7,

                "oLanguage": {
                    "sSearch": "",
                    "oPaginate": {
                        "sNext": ">",
                        "sPrevious": "<"
                    }
                },
                "language": {
                    "emptyTable": "Kein Partner gefunden",
                    "infoEmpty": "Kein Partner gefunden",
                    "zeroRecords": "Kein Partner gefunden",
                    "searchPlaceholder": "Partner suchen",
                },
            });
        }, 0);
    }

    onMount(() => {
        let pageNumber = 1

        setTimeout(function(){
            jQuery('.dataTables_filter label input').attr('placeholder', 'NACH PARTNER SUCHEN')
            updatePageNumber()

            jQuery('.paginate_button.next:not(.disabled)').on('click', function (){
                pageNumber++
                updatePageNumber()
            })

            jQuery('.paginate_button.previous:not(.disabled)').on('click', function (){
                pageNumber--
                updatePageNumber()
            })
        })

        function updatePageNumber(){
            //jQuery('.dataTables_paginate').append('<div class="pageNumber">' + pageNumber + '</div>')
        }

        setTimeout(function(){
            width = jQuery('tbody tr').eq(0).width()
            hover_bg_top = jQuery('tbody tr').eq(0).offset().top
        }, 0)
    })

    function partnerHovered(event){
        let hoveredEl = null

        jQuery(event.path).each(function (i, path){
            if(jQuery(path).hasClass('hf-hover-tr')){
                hoveredEl = path
            }
        })

        if(null === hoveredEl) return

        moveBackground(hoveredEl)

        updatePartnerCard(hoveredEl)
    }

    import { get } from 'svelte/store'

    export let getPartnerById

    function updatePartnerCard(hoveredEl) {
        let partnerId = jQuery(hoveredEl).attr('data-partner-id')
        updatePartnerCardById(partnerId)
    }

    function updatePartnerCardById(partnerId) {
        let hoveredPartnerData = getPartnerById(get(apiData), partnerId)
        //let hoveredPartnerData = data[partnerId]
        currentPartnerId = partnerId
        currentPartnerInformation = hoveredPartnerData
    }

    $:currentPartnerId && updatePartnerCardById(currentPartnerId)

    function moveBackground(hoveredEl){
        hover_bg_top = jQuery(hoveredEl).offset().top

        let childrenWidth = 0
        jQuery(hoveredEl).children().each(function(){
            childrenWidth += jQuery(this).innerWidth()
        })

        width = childrenWidth

        height = jQuery(hoveredEl).height()
    }

    export let cancelledPartners = null
    export let triggerCancelPartner = 0

    function isDeactivated(partnerId, triggerCancelPartner) {

        return cancelledPartners.includes(partnerId)
    }
</script>

<div class="testtt">
    <div class="hf-hover-background" style="top:{hover_bg_top}px; width: {width}px; height: {height}px"></div>

    <table id="table_partners_support" class="display">
        <thead>
            <tr>
                <th style=""></th>
                <th style="text-align: left">PARTNER</th>
                <th style="text-align: center">SCHRITT</th>
                <th style="text-align: center">Datenqualität</th>
                <th style="display: none;width:0;">kontakt</th>
            </tr>
        </thead>
        <tbody>

        {#each $apiData as partner, i}
            <tr style="cursor:pointer" data-partner-id="{partner.id}" class="hf-hover-tr {isDeactivated(partner.id, triggerCancelPartner) ? 'deactivated' : ''}" on:mouseover={event => partnerHovered(event)}>
                <td style="font-size:0">{partner.id}</td>
                <td style="text-align: left;">{partner.partner_name}</td>
                <td style="text-align: center;">{partner.partner_step}/8</td>
                <td>
                    <span style="font-size: 0;position:absolute">{partner.data_quality}</span>
                    <Statusdots percentage="{partner.data_quality}"/>
                </td>
<!--                <td class="d-flex justify-content-end button-tr {isDeactivated(partner.id, triggerCancelPartner) ? 'deactivated' : ''}" style="max-width: 200px;">-->
<!--                    <ButtonSlim text="Auffordern"/>-->
<!--                </td>-->
                <td style="display: none;width:0;">
                    {partner.partner_contact}
                </td>
            </tr>
        {/each}
        </tbody>
    </table>
</div>

<style>
    .button-tr {
        opacity: 1;
        transition: all .5s;
    }
    .button-tr.deactivated {
        opacity: 0;
        transition: all .5s;
    }

    tr {
        position: relative;
    }

    tr:after {
        position: absolute;
        width: 0%;
        left: 0;
        height: 2px;
        content: '';
        background: #f5359c;
        top: 14px;
        opacity: 0.2;

        transition: all .5s;
    }
    tr.deactivated:after {
        width: 85%;
        transition: all .5s;
    }

    :global(
        .hf-hover-background
    )
    {
        margin-left: -2px;

        background: linear-gradient(180deg, #FFFFFF 0%, #EBEEFA 100%);
        box-shadow: 0px 2px 4px rgba(170, 170, 170, 0.3);
        border-radius: 100px;

        width: 100%;
        position: absolute;

        transition: all .5s ease-out;
    }

    :global(
        table,
        table thead,
        table thead tr,
        table tbody,
        table tbody tr,
        table tbody tr td,
        table.dataTable.stripe tbody tr,
        table.dataTable.display tbody tr
    ) {
        background: transparent !important;
    }

    :global(
        .paginate_button.disabled
    )
    {
        opacity: 0.3;
        transition: all 1s;
    }

    :global(
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover
    ) {
        background: transparent !important;
        border: 1px solid transparent !important;
        color: #000 !important;
    }

    :global(
        table#table_partners_support,
        table#table_partners_support *
    )
    {
        border: 0 !important;
    }

    :global(table tbody td)
    {
        padding: 4px 8px !important
    }

    :global(table tbody tr)
    {
        /* Body / Body 2 */

        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */

        letter-spacing: 0.44px;

        /* Night Blue */

        color: #383874;
    }

    :global(
        .dataTables_info
    ){
        display: none;
    }

    :global(div.dataTables_filter label input::-webkit-input-placeholder) {
        color: #C5C5DE;
    }

    :global(div.dataTables_filter label:after) {
        position: absolute;
        font-family: 'Font Awesome 6 Free';
        content: '\f002';
        font-weight: 900;
        left: 270px;
        top: 11px;
        height: 100%;
        padding: 0 10px;
        color: #A1A3D4;
        opacity: 0.5;
        pointer-events: none;
    }

    :global(div.dataTables_filter label input) {
        width: 310px !important;
        float: left !important;
        border: 0 !important;

        display: block !important;
        padding: 0.375rem 0.75rem !important;
        background-color: #fff !important;
        background-clip: padding-box !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
        border-radius: 10px !important;
        padding: 0 20px !important;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;

        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 16px;
        /* identical to box height, or 160% */

        letter-spacing: 1.5px;
        text-transform: uppercase;

        color: #383874;

        height: 42px;

        filter: drop-shadow(0px 2px 4px rgba(170, 170, 170, 0.25));
    }
    :global(.dataTables_filter) {
        float: left !important;
    }
    :global(.dataTables_length) {
        display: none;
    }


    :global(th) {
        color: #C5C5DE;
        font-family: "Open Sans" !important;
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 12px !important;
        line-height: 16px !important;
        /* identical to box height, or 160% */

        letter-spacing: 1.5px !important;
        text-transform: uppercase !important;
    }

</style>