<script>
    export let above = ''
    export let progress = 0
    export let maxTime = 3

    setTimeout(function(){
        progress = 100
    }, 100)


    var R1 = ((Math.random() * 0.699) + 0.300).toFixed(3),
        R2 = ((Math.random() * -0.899) - 0.100).toFixed(3),
        R3 = ((Math.random() * 0.899) + 0.100).toFixed(3),
        R4 = (Math.random() + 0.4).toFixed(3),
        speed = getRandomArbitrary(1, maxTime)
    ;

    let randomAnimation = speed + "s cubic-bezier(" + R1 + "," + R2 + "," + R3 + "," + R4 + ")"

    function getRandomArbitrary(min, max) {
        return Math.random() * (max - min) + min;
    }

</script>

<span class="body-2" style="font-size: 12px;">{above}</span>
<div class="hf-loading-bar w-100 mb-4">
    <div
        class="progress"
        style="width: {progress}%;transition: all {randomAnimation}"
    ></div>
</div>

<style>
    .hf-loading-bar {
        background-color: #385682;
        border-radius: 100px;
        overflow: hidden;
    }

    .hf-loading-bar .progress {
        background: linear-gradient(88.25deg, #fe5d5e 1.39%, #BA35B4 58.56%, #F6359D 98.52%);
    }

</style>