<script>
    export let title = ''
    export let text = ''
    export let button = ''

    export let show = false
    export let noPadding = false

    $: -1 !== show
</script>

<div class:show class="d-flex position-fixed align-items-center justify-content-center wo-overlay">
    <div class="d-flex position-fixed hf-content-modal" style="left:50%;top:50%;transform: translateX(-50%) translateY(-50%)">
        <div class="inner-modal {noPadding ? '' : 'p-5'}" style="text-align: center">

            {#if $$slots.content}
                <slot name="content"></slot>
            {:else }
                <h3 class="">{title}</h3>
                <p class="mt-4">{text}</p>
                <button class:show on:click={() => show = !show} class="btn btn-primary btn-sm mt-3">{button}</button>
            {/if}

        </div>
    </div>
    <div class:show on:click={() => show = !show} class="w-overlay overlay"></div>
</div>

<style>
    .hf-content-modal {
        z-index: 99999999;
    }

    .wo-overlay {
        opacity: 0;
        transition: all .5s;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        z-index: 9999999 !important;

        display: none !important;
    }

    .wo-overlay.show {
        display: block !important;
        opacity: 1;
        transition: all .5s;
    }

    .w-overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 999999;
    }

    .overlay {
        background-color: rgba(0,0,0,0.6);
    }

    .inner-modal {
        width: 700px;
        background-color: #fff;
        border-radius: 10px;
    }
</style>