<script>
    export let start = 0;
    export let progress = 100;

    export let headlineTop = 'headlineTop'
    export let headlineBottom = 'headlineBottom'

    export let onlyBar = false
    export let htmlAfterBar = ''

    let slider;
    //
    // function animate_bar()
    // {
    //     let interval = setInterval(function(){
    //         start++
    //
    //         if(start >= progress){
    //             clearInterval(interval)
    //         }
    //     }, 32)
    // }
    //
    // import { onMount } from "svelte";
    // onMount(() => {
    //     animate_bar()
    // })
    //
    // $:animate_bar(progress)
</script>

<div class="row mx-0">

    {#if !onlyBar}
        <div class="col-6 p-0 body-2 opacity-75">Prozessfortschritt</div>
        <div class="col-6 p-0 body-2 opacity-75" style="text-align: right">{progress}%</div>
    {/if}

    <div class="col-12 p-0 w-bar position-relative w-100 position-relative">
        <div class="hf-bar" style="width: {progress}%"></div>
    </div>

    {@html htmlAfterBar}
</div>

<style>
    .w-bar {
        background: #DBDFF1;
        height: 4px;
        border-radius: 100px;
        overflow: hidden;
    }

    .w-bar .hf-bar {
        background: #00B929;
        height: 100%;
        width: 0%;

        transition: all .7s;
    }

</style>