<script>
    import ProgressCircle from 'svelte-progresscircle'

    export let start = 0;
    export let progress = 100;

    export let headlineTop = 'headlineTop'
    export let headlineBottom = 'headlineBottom'

    let slider;

    function loadPercentage()
    {
        let interval = setInterval(function(){
            start++

            if(start >= progress){
                clearInterval(interval)
            }
        }, 16)
    }

    import { onMount } from "svelte";
    onMount(() => {
        loadPercentage()
    })
</script>

<div class="w-circle position-relative w-100 h-100">
    <!-- Actual styling is done with CSS -->
    <ProgressCircle max="100" value="{start}" />
</div>

<style>
    :global(.w-circle:after) {
        content: '%';
        position: absolute;
        top: 40%;
        right: 20%;
        font-size: 0.9em;
    }
    
    :global(.s-Smzn3GWpgvk0) {
        font-size: 1.15em !important;
    }

    :root {
        --progress-fill: transparent;
        --progress-linecap: round;
        --progress-trackcolor: #ccc;
        --progress-color: #00B929;
        --progress-width: 6px;
        --progress-trackwidth: 4px;
    }
</style>