<script>
    import PercentageBar from "./PercentageBar.svelte";

    export let step = 0
</script>

<PercentageBar
        start="0"
        progress="{0 === step ? 33.3 : 1 === step ? 50 : 100}"
        headlineTop="a"
        headlineBottom="b"

        onlyBar="{true}"
        htmlAfterBar='<div class="row"><div class="col-4 body-2" style="text-align:center;font-size:12px;">Registrierung</div><div class="col-4 body-2" style="text-align:center;font-size:12px;">Aufbau Verbindung</div><div class="col-4 body-2" style="text-align:center;font-size:12px;">Einrichtung</div></div>'
/>