<script>
    export let percentage = 0
</script>

<div class="w-hf-status-dots d-flex">
    <div class="hf-status-dot {percentage > 0.2 ? (percentage > 0.6 ? 'active-green' : 'active-red') : ''}"></div>
</div>

<style>
    .w-hf-status-dots {
        justify-content: space-evenly;
        margin: auto;
    }

    .hf-status-dot {
        background: #DBDFF1 !important;
        border-radius: 10px;
        width: 6px;
        height: 6px;
    }

    .active-green {
        background: #00B929 !important;
    }

    .active-red {
        background: #FF708B !important;
    }

</style>