<script>
    export let percentage = 0
    percentage = percentage*100

    let activeDots = percentage/20
    let green = activeDots >= 3
</script>

<div class="w-hf-status-dots d-flex">
    {#each Array(5) as index, i}
        <div class="hf-status-dot {i <= (activeDots-1) ? (green ? 'active-green' : 'active-red') : ''}"></div>
    {/each}
</div>

<style>
    .w-hf-status-dots {
        width: 110px;
        justify-content: space-evenly;
        margin: auto;
    }

    .hf-status-dot {
        background: #DBDFF1 !important;
        border-radius: 1px;
        width: 17px;
        height: 6px;
    }

    .active-green {
        background: #00B929 !important;
    }

    .active-red {
        background: #FF708B !important;
    }

</style>