<script>
    export let headline = ''
    export let subline = ''
    export let rightValue = ''
    
    export let rightValueBold = false
    export let small = false
</script>

<div class="d-flex mb-{small ? 2 : 4}">
    <div class="col-{'' === rightValue ? 12 : small ? 8 : 6}">
        {#if '' !== headline}
            <strong style="{small ? 'font-size:14px' : ''}" class="d-block text-box-headline">{headline}</strong>
        {/if}
        {#if '' !== subline}
            <span style="{small ? 'font-size:12px' : ''}"  class="mt-{small ? '1 mb-2' : '2'} d-block text-box-subline work-sans">{subline}</span>
        {/if}
    </div>
    {#if '' !== rightValue}
        <div class="col-{small ? 4 : 6}">
            <span style="{small ? 'font-size:14px' : ''}"  class="d-block float-right text-boxline-right work-sans {rightValueBold || small ? 'opacity-100' : ''}">{@html rightValue}</span>
        </div>
    {/if}
</div>

<style>
    .text-box-subline {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 12px;
        /* identical to box height */

        letter-spacing: -0.02em;

        /* Night Blue */

        color: #383874;
    }

    .text-box-headline {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        /* identical to box height, or 167% */
        display: flex;
        letter-spacing: 0.44px;
        /* Night Blue */
        color: #383874;

    }

    .text-boxline-right {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 19px;
        text-align: right;
        letter-spacing: -0.02em;
        color: #383874;
        opacity: 0.5;
    }
</style>