<script>

    import { Datatable } from 'svelte-simple-datatables'

    export let text = ''
    export let activeLink
    export let partner
    export let currentPartnerId

    //export let updateChosenPartnerOnSupportPage = function() {}

    function setActiveLink(linkIndex, event){

        activeLink = linkIndex

        let clickedEl = jQuery('.nav-item').eq(linkIndex)
        jQuery('.nav-item, .nav-link').removeClass('active')
        jQuery(clickedEl).addClass('active')

        setTimeout(function(){
            let newWidth = clickedEl.width()
            let newX = clickedEl.offset().left
            let newColor = clickedEl.attr('data-color')

            jQuery('.active-link-indicator').css({
                'width' : newWidth,
                'left' : newX,
                'background' : newColor
            })
        })
    }

    function openSupportCard(partnerId) {

        setActiveLink(2)

        jQuery('#table_partners_support').DataTable().search( partnerId ).draw()

        console.log('try..')
        currentPartnerId = partnerId
    }
</script>

<button on:mouseenter={() => console.log('HVER')} on:click={() => openSupportCard(partner.id)}  style="cursor: pointer">
    <span>{text}</span>
</button>

<style>
    button {
        background: #DBDFF1;
        border-radius: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px 30px !important;
    }

    button span {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.4px;

        color: #A1A8C2;
    }
</style>