<script>
    import BackgroundRow from "../../component/BackgroundRow.svelte";
    import BoxHorizontalSwitch from "../../component/BoxHorizontalSwitch.svelte";

    import {updateRegistrationData} from "../../../../stores.js";
</script>

<hr>

<span class="text-details mb-1">Zugangsdaten SAP Network (ehem. SAP ARIBA)</span>

<BackgroundRow showConnectedBox="{true}" inputName="postpone-setup" left="Benutzername" left2="Passwort" switchShow="{true}" switchText="Ich möchte die Einrichtung später selbst vornehmen.">
    <input id="registration-sap-network-username" name="registration-sap-network-username" on:input="{(e) => updateRegistrationData('sapNetworkUsername', e.target.value)}" class="hf-input" placeholder="Benutzername" type="text">
    <input id="registration-sap-network-password" slot="slot2" name="registration-sap-network-password" on:input="{(e) => updateRegistrationData('sapNetworkPassword', e.target.value)}" class="hf-input" placeholder="Passwort" type="text">
</BackgroundRow>

<br>

<span class="text-details mb-1 mt-4">Unternehmenszugang</span>

<div class="hf-bg-gradient text-white p-4 row mx-0">
    <div class="col-6 mb-3">
        <div class="row">
            <div class="col-4">Endpunkt</div>
            <div class="col-8"><input on:input="{(e) => updateRegistrationData('company-access-endpunkt', e.target.value)}" id="company-access-endpunkt" class="hf-input" placeholder="FTP/AS2/API/E-Mail"></div>
        </div>
    </div>
    <div class="col-6 mb-3">
        <div class="row">
            <div class="col-4">Host</div>
            <div class="col-8"><input on:input="{(e) => updateRegistrationData('company-access-host', e.target.value)}" id="company-access-host" class="hf-input" placeholder="Host"></div>
        </div>
    </div>
    <div class="col-6 mb-3">
        <div class="row">
            <div class="col-4">Port</div>
            <div class="col-8"><input on:input="{(e) => updateRegistrationData('company-access-port', e.target.value)}" id="company-access-port" class="hf-input" placeholder="Port"></div>
        </div>
    </div>
    <div class="col-6 mb-3">
        <div class="row">
            <div class="col-4">Pfad</div>
            <div class="col-8"><input on:input="{(e) => updateRegistrationData('company-access-pfad', e.target.value)}" id="company-access-pfad" class="hf-input" placeholder="Pfad"></div>
        </div>
    </div>
    <div class="col-6 mb-3">
        <div class="row">
            <div class="col-4">Benutzer</div>
            <div class="col-8"><input on:input="{(e) => updateRegistrationData('company-access-benutzer', e.target.value)}" id="company-access-benutzer" class="hf-input" placeholder="Benutzer"></div>
        </div>
    </div>
    <div class="col-6 mb-3">
        <div class="row">
            <div class="col-4">Passwort</div>
            <div class="col-8"><input on:input="{(e) => updateRegistrationData('company-access-passwort', e.target.value)}" id="company-access-passwort" class="hf-input" placeholder="Passwort"></div>
        </div>
    </div>
</div>

<span class="text-details mb-1 mt-3">MIDDLEWARE</span>

<BackgroundRow left="Middleware">
    <input on:input="{(e) => updateRegistrationData('middleware', e.target.value)}" id="middleware" class="hf-input" placeholder="Seeburger/Axway/Keine" type="text">
</BackgroundRow>

<div style="margin-top: 100px;"></div>