<script>
    import BackgroundRow from "../../component/BackgroundRow.svelte";

    import {updateRegistrationData} from "../../../../stores.js";
</script>

<BackgroundRow left="E-Mail Adresse">
    <input id="registration-email" on:input="{(e) => updateRegistrationData('email', e.target.value)}" class="hf-input" placeholder="E-Mail Adresse" type="text">
</BackgroundRow>

<BackgroundRow left="Unternehmen">
    <span class="body-2 w-100" style="text-align: center">Wird vom System ausgefüllt</span>
</BackgroundRow>

<BackgroundRow inputName="toggle-email-admin" left="E-Mail Adresse" subline="des zuständigen Kollegen oder Dienstleisters" switchShow="{true}" switchText="Sind Sie der technische Administrator, der die Einrichtung vornimmt?">
    <input id="registration-email-admin" name="registration-email-admin" on:input="{(e) => updateRegistrationData('emailAdmin', e.target.value)}" class="hf-input" placeholder="E-Mail Adresse" type="text">
</BackgroundRow>

<div style="margin-top: 200px;"></div>