<script>
    import FullCard from "../container/FullCard.svelte";
    import TimesIcon from "../component/element/TimesIcon.svelte";

    import {updateCalculatorData} from "../../../stores.js";
    import jQuery from "jquery";
    import Swal from "sweetalert2";
    import {fireToast} from "../../shared/shared.js";

    export let orderResultHtml = ''

    export let __data = null

    export let modalStep = 0

    let statusSendingMail = false

    export let detailedResult = ''

    function sendDetailedResultsPerMail() {
        statusSendingMail = true

        // TODO: Use website backend to send results per mail
        console.log('GET DETAILED INFORMATION BY MAIL')
        let userMail = jQuery('#send-order-details-mail').val()
        let _data = {
            recipient: userMail,
            content: JSON.stringify(__data),
            resultJsonString: JSON.stringify(__data),
        }

        jQuery.ajax({
            url : 'https://hf-solutions.co/wp-json/api/send/email/details',
            type : 'POST',
            data : {
                lang: 'de',
                data: _data,
                resultJsonString: _data,
            },
            success : function(rawData) {
                fireToast('success', 'Der Partner wurde benachrichtigt.')
                statusSendingMail = false
                jQuery('#send-order-details-mail').val('')
            },
            error: function(result) {
                statusSendingMail = false
            }
        });
    }

    export let showDetailedResult = false

    export let showDetailView

</script>


<!--{"identifier":"634c31d0-e7e5-4c96-8bca-63da0cb1a42b","files":[{"name":"testfile_01.xml","metrics":[{"name":"FORMAT","localizedName":"Format","value":"cxml","ratingLevel":"GOOD","message":"cxml is supported well.","localizedMessage":"cxml wird gut unterstützt."},{"name":"DOCUMENT_TYPE","localizedName":"Belegart","value":"order","ratingLevel":"GOOD","message":"Order is supported well.","localizedMessage":"Bestellung wird gut unterstützt."},{"name":"DOCUMENT_NUMER","localizedName":"Beleg-Nr.","value":"4020059013","ratingLevel":"GOOD","message":"The document number is available.","localizedMessage":"Die Belegnummer ist vorhanden."},{"name":"SPECIFICATION_RATE","localizedName":"Interpretation","value":"89.01","ratingLevel":"OK","message":"Based on our quality analysis we are able to interpret 89.01% of the content.","localizedMessage":"Auf Basis der qualitativen Auswertung können wir 89.01% der Belegdaten interpretieren."},{"name":"UTILIZATION_RATE","localizedName":"Verwendung","value":"73.1","ratingLevel":"OK","message":"Based on our quality analysis we are able to use 73.1% of the content.","localizedMessage":"Auf Basis der qualitativen Auswertung können wir 73.1% der Belegdaten verwenden."},{"name":"ACCOUNTING_CUSTOMER","localizedName":"Rechnungsempfänger","value":"Werk Offenburg GmbH","ratingLevel":"GOOD","message":"Invoice recipient is available.","localizedMessage":"Rechnungsempfänger ist vorhanden. "},{"name":"BUYER_CUSTOMER","localizedName":"Auftraggeber","value":"Werk Offenburg GmbH","ratingLevel":"OK","message":"Client is not available explicitly, but could be determined by us.","localizedMessage":"Auftraggeber ist nicht explizit vorhanden, konnte jedoch von uns ermittelt werden. "},{"name":"DELIVERY_PARTY","localizedName":"Warenempfänger","value":"Werk Offenburg GmbH","ratingLevel":"GOOD","message":"Goods recipient is available.","localizedMessage":"Warenempfänger ist vorhanden. "},{"name":"POSITION_ITEM_ID","localizedName":"Artikelnummer","value":"2/2","ratingLevel":"GOOD","message":"2 of 2 available.","localizedMessage":"2 von 2 vorhanden."},{"name":"POSITION_ITEM_NAME","localizedName":"Teile-Informationen","value":"2/2","ratingLevel":"GOOD","message":"2 of 2 available.","localizedMessage":"2 von 2 vorhanden."},{"name":"POSITION_QUANTITY","localizedName":"Menge","value":"2/2","ratingLevel":"GOOD","message":"2 of 2 available.","localizedMessage":"2 von 2 vorhanden."},{"name":"POSITION_UNIT_PRICE","localizedName":"Einzelpreis","value":"2/2","ratingLevel":"GOOD","message":"2 of 2 available.","localizedMessage":"2 von 2 vorhanden."}],"totalRating":{"name":"TOTAL","localizedName":"Gesamt","value":"OK","ratingLevel":"OK","message":"This document can be used.","localizedMessage":"Dieses Dokument kann verwendet werden."}}]}-->

<!--{JSON.stringify(__data.files[0].totalRating.localizedMessage).substr(1, (__data.files[0].totalRating.localizedMessage.length-1))}-->
<FullCard
        headlineSub=""
        headline="Analyseergebnis"
        headlineSubBottom=""

        padding="{1}"

        actionHeadlineSub=""
        actionHeadline='Belegqualität'

        ownContent="{true}"

        textAlign="left"

        noPadding="{true}"
>

<!--    <span class="body-1 mt-3 mb-2 d-block">-->
<!--        Fehlende Felder-->
<!--    </span>-->

<!--    <h6>-->
<!--        <TimesIcon/>-->
<!--        Warenempfänger-->
<!--    </h6>-->
<!--    <h6>-->
<!--        <TimesIcon/>-->
<!--        Artikelnummer-->
<!--    </h6>-->
    <div class="row">
        <div class="col-12">
            <button on:click={showDetailView} class="btn btn-primary" style="border-radius: 8px !important;position: absolute;top: -80px;right: 30px;">Details</button>
            {@html orderResultHtml}
        </div>
    </div>

    <span class="body-1 mt-3 mb-2 d-block">
        Senden Sie Ihrem Partner ein detailliertes Ergebnis.
    </span>

    <div class="row mb-3">
        <div class="col-8">
            <input on:input={(e) => updateCalculatorData('email-for-analysis', e.target.value)} id="send-order-details-mail" placeholder="info@mueller-ag.de" style="text-align: left" type="text" class="h-100 ml-2 hf-input">
        </div>
        <div class="col-4">
            <button on:click={sendDetailedResultsPerMail} class="btn btn-primary {statusSendingMail ? 'disabled' : ''}" style="border-radius: 8px !important;">Senden</button>
        </div>
    </div>

    <hr>

    <span class="body-2" style="text-align: center; font-size: inherit;">
        Zur Verarbeitung der Belege benötigt unser System die aufgeführten Felder. Informieren Sie Ihren Geschäftspartner darüber.
    </span>

</FullCard>

<style>
    .hf-icon-gradient {
        background: linear-gradient(270deg, #fe5d5e 0%, #BA35B4 58.85%, #F6359D 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>