<script>
    import BoxHorizontal from '$lib/widgets/container/BoxHorizontal.svelte'
    import PercentageCircle from '../component/PercentageCircle.svelte'
    import Box from "../container/Box.svelte";

    export let progress_1 = 100
    export let progress_2 = 100
    export let headline_1 = ''
    export let headline_2 = ''
</script>

<Box>
    <slot>
        <div class="row">
            <div class="col-6">
                <PercentageCircle progress="{progress_1}" slot="content_left"></PercentageCircle>
                <span class="body-2 text-center" style="float: left">
                    {headline_1}
                </span>
            </div>
            <div class="col-6">
                <PercentageCircle progress="{progress_2}" slot="content_left"></PercentageCircle>
                <span class="body-2 text-center" style="float: left">
                    {headline_2}
                </span>
            </div>
        </div>
    </slot>
</Box>