<script>
    import BoxHorizontal from '$lib/widgets/container/BoxHorizontal.svelte'
    import PercentageCircle from '../component/PercentageCircle.svelte'

    export let progress = 100
    export let headlineTop = ''
    export let headlineBottom = ''
</script>

<BoxHorizontal>
    <PercentageCircle progress="{progress}" slot="content_left"></PercentageCircle>
    <slot slot="headlineTop">{headlineTop}</slot>
    <slot slot="headlineBottom">{headlineBottom}</slot>
</BoxHorizontal>