<script>
    import Box from "../container/Box.svelte";
    import RegisterStepBar from "../component/RegisterStepBar.svelte";
    import RegistrationCardStep0 from "./RegistrationCardSteps/RegistrationCardStep0.svelte";
    import RegistrationCardStep1 from "./RegistrationCardSteps/RegistrationCardStep1.svelte";
    import Modal from "../component/Modal.svelte";

    import jQuery from "jquery";

    let step = 0

    let show = false
    let finished = false

    import 'sweetalert2/dist/sweetalert2.min.css'
    import {fireToast} from "../../shared/shared.js";

    import {fieldGiven, getRegistrationData, storeRegistrationData, updateRegistrationData} from "../../../stores.js";

    function navigateStep1(){
        let formValid = fieldGiven(jQuery('#registration-email').val())
        if(jQuery('#toggle-email-admin').is(':checked')){
            formValid = formValid && fieldGiven(jQuery('#registration-email-admin').val())
        }

        if(!formValid){
            fireToast('error', 'Bitte füllen Sie alle erforderlichen Felder aus.')
            return
        }

        step=1
    }

    function finishRegistration(){
        let formValid =
            fieldGiven(jQuery('#company-access-endpunkt').val()) &&
            fieldGiven(jQuery('#company-access-host').val()) &&
            fieldGiven(jQuery('#company-access-port').val()) &&
            fieldGiven(jQuery('#company-access-pfad').val()) &&
            fieldGiven(jQuery('#company-access-benutzer').val()) &&
            fieldGiven(jQuery('#company-access-passwort').val()) &&
            fieldGiven(jQuery('#middleware').val())

        if(!jQuery('#postpone-setup').is(':checked')){
            formValid = formValid && fieldGiven(jQuery('#registration-sap-network-username').val()) && fieldGiven(jQuery('#registration-sap-network-password').val())
        }

        if(!formValid){
            fireToast('error', 'Bitte füllen Sie alle erforderlichen Felder aus.')
            return
        }

        step = 2

        storeRegistrationData()

        setTimeout(function(){
            show = true
            finished = true
        }, 2800)
    }

</script>
    <Modal bind:show={show} button="Abschließen" title="Verbindung erfolgreich" text="Vielen Dank für den Aufbau Ihrer Verbindung. Ihr Kollege wird in Kürze darüber informiert und kann dann mit dem Einrichten der Verbindungen beginnen."/>

    <Box customClass="hf-full-card card-register w-100">
        <div class="p-5 pb-0">
            <h3>Registrierung</h3>
        </div>

        <div class="p-5 pt-1">
            <RegisterStepBar bind:step={step}/>
        </div>

        {#if 0 === step}
            <RegistrationCardStep0/>
            <button on:click={() => navigateStep1()} class="btn btn-primary body-2 text-white" style="margin:auto;">
                Weiter zu: <strong>Aufbau Verbindungen</strong>
            </button>
        {/if}

        {#if 1 === step}
            <RegistrationCardStep1/>
            <button on:click={() => finishRegistration()} class="btn btn-primary body-2 text-white" style="margin:auto;">
                Einrichtung abschließen
            </button>
        {/if}

        {#if 2 === step && false !== finished}
            <h5 style="text-align: center">
                Herzlich willkommen
            </h5>
            <br>
            <p class="body-2" style="width: 100%;text-align: center">
                Registrierung erfolgreich abgeschlossen.
            </p>
        {/if}

        {#if 2 === step && false === finished}
            <h5 style="text-align: center">
                <i class="fas fa-circle-notch fa-spin" style="color: #fe5d5e"></i>
                Registrierung wird abgeschlossen.
            </h5>
        {/if}

        <hr class="mt-5">

        <span class="body-2 mb-3" style="font-size: 12px;text-align:center">
            Mit H&F Next Level EDI lassen sich in der Regel hohe Einsparungen gegenüber herkömmlicher EDI erzielen. Geben Sie Ihre Daten ein und überzeugen Sie sich selbst.
        </span>
    </Box>

<style>
    :global(.card-register > .hf-box){
        background-color: #F8F7F9;
    }

    button {
        width: fit-content;
    }






    h5 {
        font-weight: 300;
    }

    :global(
        .hf-full-card .hf-box
    ) {
        padding: 0 !important;
        width: 100% !important;;
    }

    :global(
        .hf-full-card .hf-box > div
    ) {
        width: 100%;
    }
</style>