<script>
    export let barsReady = false

    export let headline = null
    export let button = null
    
    export let width = null

    export let has_hoverbox = false

    export let deactivated = false

    export let customClass = ''
    export let textAlign = 'left'
    export let noPadding = false

    export let boxHovered = false

    export let style = ''

    function animateBars(){
        if('lastEventsBox' !== customClass){ // Filthy. Use general logic.
            barsReady = true
            boxHovered = true
        }

    }

    function setBoxHoveredFalse() {
        boxHovered = false
    }
</script>

<div class:deactivated class:boxHovered on:mouseenter="{animateBars}" on:mouseleave={setBoxHoveredFalse} class="{customClass} {null !== button && undefined !== button.href ? 'has-button' : ''} box-component position-relative {has_hoverbox ? 'has-hoverbox' : ''}" style="width: fit-content;text-align: {textAlign};z-index: 1; {style}; z-index: 99;">
    <div class="{noPadding ? 'm-0' : 'mb-2'} hf-box row position-relative {null !== button ? 'no-border-radius-bottom' : ''}" style="{null !== button ? 'margin-bottom: 60px !important' : ''}; {null !== width ? 'width:' + width : ''};">
        {#if null !== headline}
            <h2 class="h2-box-title mb-0 w-100 float-left" style="font-weight: 700;">{headline}</h2>
            <hr class="mb-3 mt-3">
        {/if}
        <slot></slot>
        {#if null !== button}
            <button class="btn btn-primary position-absolute w-100" style="padding-bottom:34px !important;bottom: 0; left: 0; height: 40px; bottom: -40px;border-bottom-left-radius: 20px !important;;border-bottom-right-radius: 20px !important;">
                {#if undefined !== button.href}
                    <a style="color: #fff !important;" href="{button.href}">
                        {button.title}
                    </a>
                {:else}
                    {button.title}
                {/if}
            </button>
        {/if}
    </div>

    <div class="position-absolute hover-box">
        <slot name="hover_show"></slot>
    </div>
</div>

<style>
    .box-component {
        filter: grayscale(0);
        transition: all .5s;
    }

    .has-button button a {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        text-decoration: none;
    }

    .box-component.deactivated {
        filter: grayscale(0.8);
        opacity: 0.8;
        transition: all .5s;

        pointer-events: none;
        cursor: no-drop;
    }

    .box-component:after {
        opacity: 0;
        transition: all 1.5s;
        display: flex;
        position: absolute;
    }

    .box-component.deactivated:after {
        position: absolute;
        height: 50%;
        width: 100%;
        position: absolute;
        content: 'Prozess abgebrochen';
        z-index: 99999999;
        transform: rotate(-15deg);
        top: 0;
        left: -12px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background: rgba(255,255,255,0.8); */
        font-size: 2.5em;
        font-weight: 900;
        color: #fff;
        text-shadow: 0px 2px 7px #000;

        opacity: 1;
        transition: all 1.5s;
    }

    .lastEventsBox {
        margin-left: 360px;
        transition: all .5s;
    }

    .lastEventsBox.boxHovered {
        margin-left: 570px;
        transition: all .5s;
    }

    .hover-box {
        pointer-events: none;
    }

    .has-hoverbox:hover {
        margin-right: 210px;
        transition: all .5s;
    }

    .has-hoverbox:hover .hover-box {
        right: -210px !important;
        transition: all .5s;
    }

    .hover-box {
        z-index: -999;
        top:40px;
        right:0px;
        transition: all .5s;
    }

    button {
        border-radius: 10px;
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
    }

    .h2-box-title {
        font-size: 26px;
    }

    :global(.hf-box) {
        /* Widget / M-size / Circle chart */
        /* Auto layout */
        display: flex;
        flex-direction: row;
        padding: 20px;

        width: 320px;
        min-height: 140px;

        /* Snow */

        background: #FFFFFF;
        opacity: 1;
        /* Widget shadow */

        box-shadow: 0px 100px 80px rgba(108, 73, 172, 0.07), 0px 41.7776px 33.4221px rgba(108, 73, 172, 0.0503198), 0px 22.3363px 17.869px rgba(108, 73, 172, 0.0417275), 0px 12.5216px 10.0172px rgba(108, 73, 172, 0.035), 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725), 0px 2.76726px 2.21381px rgba(108, 73, 172, 0.0196802);
        border-radius: 10px;
    }
</style>