<script>
    import Box from "./Box.svelte";
</script>

<Box>
    <div class="col-6 d-flex align-items-center justify-content-center">
        <slot name="content_left"></slot>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-center">
        <div class="flex-center">
            <span class="body-1">
                <slot name="headlineTop"></slot>
            </span>
            <span class="body-1 big">
                <slot name="headlineBottom"></slot>
            </span>
        </div>
    </div>
</Box>