<script>
    import Box from "./Box.svelte";
    import Icon from "../component/element/Icon.svelte";
    import PercentageBar from "../component/PercentageBar.svelte";
    import {fireToast} from "../../shared/shared.js";

    export let headlineSub = null
    export let headline = null
    export let headlineSubBottom = null
    export let actionHeadlineSub = null
    export let actionHeadline = null
    export let sublineLeft = null
    export let sublineRight = null
    export let button1 = null
    export let button1Icon = null
    export let button2 = null
    export let button2Icon = null
    export let button3 = null
    export let button3Icon = null
    export let progress = null
    export let bottomPart = null
    export let padding = 5

    export let deactivated = false

    export let ownContent = false
    export let textAlign = 'left'

    export let currentPartnerId
    export let apiData

    export let noPadding = false

    export let setApiDataPartnerLastAction = function (){}

    import {createEventDispatcher, onMount} from 'svelte';
    import Swal from "sweetalert2";
    import {get} from "svelte/store";
    const dispatch = createEventDispatcher();

    function cancelPartnerProcess() {
        dispatch('cancelProcess', {
        })
    }

    export let getPartnerById

    onMount(() => function() {
        // jQuery(document).on('change', '#request-action-select', function() {
        //     console.log( jQuery('#request-action-select option:selected') )
        //     console.log( jQuery('#request-action-select option:selected') )
        //     console.log( jQuery('#request-action-select option:selected') )
        //     console.log( jQuery('#request-action-select option:selected') )
        // })
    })

    export let triggerFullcardUpdate = function(){}

    function updateStepRemote(partnerId, newStep) {

        // TODO: set remotely
        jQuery.ajax({
            url: 'https://192.168.10.195/update_partner_step/' + partnerId + '/' + newStep,
            type: "GET",
            dataType: "json",
            success: function (data) {
            },
            error: function (data) {
            }
        });

        // set locally
        setApiDataPartnerNewStep(partnerId, newStep)

        var d = new Date();
        var strDate = d.getDate() + "." + (d.getMonth()+1) + "." + d.getFullYear();
        setApiDataPartnerLastAction(partnerId, strDate)

        currentPartnerId = currentPartnerId

        triggerFullcardUpdate()
    }

    function setApiDataPartnerNewStep(partnerId, newStep) {
        let _apiData = get(apiData)
        for (var i = 0; i < _apiData.length; i ++) {
            if(partnerId === _apiData[i].id) {
                _apiData[i].partner_step = newStep
            }
        }

        apiData.set(_apiData)
    }

    function openRequestActionModal() {

        let currentPartner = getPartnerById(get(apiData), currentPartnerId)
        let currentPartnerStep = currentPartner.partner_step

        console.log(currentPartner)

        let options =
        `
            <option data-partner-id="` + currentPartner.id + `" data-step="request-connection" value="">Vernetzung anfragen</option>
            <option data-partner-id="` + currentPartner.id + `" data-step="pause-connection" value="">Vernetzung pausieren</option>
            <option data-partner-id="` + currentPartner.id + `" data-step="cancel-connection" value="">Vernetzung abbrechen</option>
        `

        let html = `<select id="request-action-select" class="form-select">` + options + `</select>`

        Swal.fire({
            title: button1,
            html: html,
            showCloseButton: true,
            showCancelButton: false,
            confirmButtonColor: 'rgb(254,93,94)',
            focusConfirm: true,
            confirmButtonText: 'Auffordern',
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                let selectedOption = jQuery('#request-action-select option:selected')
                let partnerId = parseInt(selectedOption.attr('data-partner-id'))
                let action = selectedOption.attr('data-step')

                // TODO: This here does not make sense rn.
                // TODO: Problem was, that steps and status never got distinguished.

                if('request-connection' === action) {
                    updateStepRemote(partnerId, 2)
                    fireToast('success', 'Die Vernetzung wurde angefragt.')

                    return
                }

                if('pause-connection' === action) {
                    fireToast('success', 'Die Vernetzung wurde pausiert.')

                    return
                }

                if('cancel-connection' === action) {
                    updateStepRemote(partnerId, 8)
                    cancelPartnerProcess()

                    fireToast('success', 'Die Vernetzung wurde agebrochen.')

                    return
                }

                fireToast('success', 'Keine Aktion ausgewählt.')
            } else if (result.isDenied) {
            }
        })

        function changeProgress() {
            let currentPartner = getPartnerById(get(apiData), currentPartnerId)
            let prog = (currentPartner.partner_step/8) * 100
            progress = prog

            console.log('change')
            console.log( currentPartner )
            console.log( prog )
        }

        $:currentPartnerId && changeProgress()

    }
</script>

<input type="hidden" id="request-action-select-chosen-option">

<Box bind:deactivated={deactivated} customClass="hf-full-card w-100" textAlign="{textAlign}" noPadding="{noPadding}">
    <div class="p-5">
        <span class="body-2">{headlineSub ?? 'Kein Partner gefunden'}</span>
        <h3>{headline ?? '–'}</h3>
        {#if null !== headlineSubBottom}
            <span class="body-2">{headlineSubBottom}</span>
        {/if}
    </div>

    <div class="hf-bg-gradient p-{padding}" style="padding-left: 40px !important;">
        <h5>{actionHeadlineSub}</h5>
        {#if 0 === actionHeadline}
            <span style="color: #fff">–</span>
        {:else }
            <h4 style="height: 88px" class="d-flex align-items-center">{@html actionHeadline}</h4>
        {/if}
    </div>

    <div class="p-5 pt-3" style="position: relative">
        {#if ownContent}
            <slot></slot>
        {:else}
            <div class="row">
                <div class="col-6">{sublineLeft}</div>
                <div class="col-6" style="text-align: right">{sublineRight}</div>

                <div class="col-12 pt-5 d-flex justify-content-between">
                    <div on:click="{() => openRequestActionModal()}" class="d-flex flex-column align-items-center" style="width: 130px">
                        <Icon text="{button1}" icon="{button1Icon}"/>
                    </div>
                    <div on:click="{() => fireToast('success', 'Der Partner wurde angefragt.')}" class="d-flex flex-column align-items-center" style="width: 140px">
                        <Icon text="{button2}" icon="{button2Icon}"/>
                    </div>
                    <div on:click="{() => cancelPartnerProcess()}" class="d-flex flex-column align-items-center" style="width: 130px">
                        <Icon text="{button3}" icon="{button3Icon}"/>
                    </div>
                </div>

                <div class="col-12 mt-5">
                    <PercentageBar bind:progress={progress}/>
                </div>

                <div class="col-12 mt-4">
                    {@html bottomPart}
                    <!--{#each bottomPart as i, line}-->
                    <!--    <div class="row mb-2">-->
                    <!--        <div class="body-2 col-9">{i['key']}</div>-->
                    <!--        <div class="body-2 col-3" style="text-align: right">{i['value']}</div>-->
                    <!--    </div>-->
                    <!--{/each}-->
                </div>
            </div>
        {/if}
    </div>
</Box>

<style>
    :global(
        .hf-full-card .hf-box
    ) {
        padding: 0 !important;
        width: 100% !important;;
    }

    :global(
        .hf-full-card .hf-box > div
    ) {
        width: 100%;
    }
</style>