<script>
    import {onMount} from "svelte";
    import jQuery from "jquery";

    export let icon = null
    export let headline = null
    export let subtitle = null
    export let content = null
    export let button = null
    
    export let width = null

    export let has_hoverbox = false

    export let customClass = ''
    export let textAlign = 'left'
    export let noPadding = false

    let hoverBoxActivated = false
    let hoverBoxBottomDefault = -37
    let hoverBoxBottom = hoverBoxBottomDefault

    function hoverBoxBottomActivate(){
        if(!hoverBoxActivated){
            let boxHeight = jQuery('.hover-content').height()
            hoverBoxBottom = -boxHeight
        } else {
            hoverBoxBottom = hoverBoxBottomDefault
        }

        hoverBoxActivated = !hoverBoxActivated
    }
</script>

<div class="{customClass} position-relative {has_hoverbox ? 'has-hoverbox' : ''}" style="width: fit-content;text-align: {textAlign};z-index: 1">
    <div class="{noPadding ? 'm-0' : 'mb-2'} hf-box mx-0 row position-relative" style="{null !== button ? 'margin-bottom: 60px !important' : ''}; {null !== width ? 'width:' + width : ''};">
        <div class="col-3 d-flex align-items-center justify-content-center">
            <i style="color: #DBDFF1;font-size: 3em" class="{icon}"></i>
        </div>
        <div class="col-9">
            {#if null !== headline}
                <h5 class="mb-0 w-100 float-left" style="font-weight: 300;">{headline}</h5>
                <h6 class="mb-0 mt-0 w-100 float-left text-details" style="font-weight: 700;">{subtitle}</h6>
                {#if null !== content}
                    <p class="mb-0 w-100 float-left" style="font-weight: 300;font-size:12px">{content}</p>
                {/if}
            {/if}
        </div>
        {#if null !== button}
            <div on:click={hoverBoxBottomActivate} class="w-100 position-absolute hover-content" style="bottom:{hoverBoxBottom}px; left:0;z-index:-1;">
                <button class="btn btn-primary w-100 d-flex justify-content-center flex-column" style="padding-bottom:8px !important;;border-bottom-left-radius: 20px !important;;border-bottom-right-radius: 20px !important;">
                    <div class="hidden w-100 d-block mb-2">
                        <slot></slot>
                    </div>
                    <span class="text-details" style="font-size: 0.8em;">{button}</span>
                </button>
            </div>
        {/if}
    </div>
</div>

<style>
    .hover-content {
        transition: all .5s;
    }

    .has-hoverbox:hover {
        margin-right: 210px;
        transition: all .5s;
    }

    .has-hoverbox:hover .hover-box {
        right: -210px !important;
        transition: all .5s;
    }

    .hover-box {
        z-index: -999;
        bottom:0px;
        right:0px;
        transition: all .5s;
    }

    button {
        border-radius: 10px;
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
    }

    .h2-box-title {
        font-size: 26px;
    }

    .hf-box {
        /* Widget / M-size / Circle chart */
        /* Auto layout */
        display: flex;
        flex-direction: row;
        padding: 20px;

        width: 320px;
        min-height: 120px;

        /* Snow */

        background: #FFFFFF;
        opacity: 1;
        /* Widget shadow */

        box-shadow: 0px 100px 80px rgba(108, 73, 172, 0.07), 0px 41.7776px 33.4221px rgba(108, 73, 172, 0.0503198), 0px 22.3363px 17.869px rgba(108, 73, 172, 0.0417275), 0px 12.5216px 10.0172px rgba(108, 73, 172, 0.035), 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725), 0px 2.76726px 2.21381px rgba(108, 73, 172, 0.0196802);
        border-radius: 10px;
    }
</style>