<script>
    import {onMount} from "svelte";
    import jQuery from "jquery";

    export let icon = null
    export let headline = null
    export let subtitle = null
    export let content = null
    export let button = null
    
    export let width = null

    export let has_hoverbox = false

    export let customClass = ''
    export let textAlign = 'left'
    export let noPadding = false

    let hoverBoxActivated = null
    let hoverBoxBottomDefault = -34
    let hoverBoxBottom = hoverBoxBottomDefault

    let randomNumber = Math.floor(Math.random() * 1000000)
    let randomId = 'box-' + randomNumber

    function hoverBoxBottomActivate(e){

        // CLOSE ALL OPEN BOXES BEFORE OPENIng THE NEW ONE
        closeOpenBoxes(e)

        if(!hoverBoxActivated){
            let boxHeight = jQuery('#' + randomId).height()

            hoverBoxBottom = -boxHeight

            marginBottom = marginBottom + boxHeight - 34
        } else {
            hoverBoxBottom = hoverBoxBottomDefault

            marginBottom = 60
        }

        hoverBoxActivated = !hoverBoxActivated
    }

    function closeOpenBoxes(e){
        jQuery('.small-box-button.hoverBoxActivated').find('.trigger-toggle').each(function(){
            if(this !== e.target){
                jQuery(this).trigger('click')
            }
        })
    }

    let marginBottom = 60
    export let shadow = true
</script>

<div class="{shadow ? 'hf-box-only-shadow' : '' }">
    <div class="{customClass} position-relative cut-top {has_hoverbox ? 'has-hoverbox' : ''}"
         style="width: fit-content;text-align: {textAlign};z-index: 1">
        <div class="{noPadding ? 'm-0' : 'mb-2'} hf-box no-shadow mx-0 row position-relative"
             style="margin-bottom: {null !== button ? marginBottom : 0}px !important; transition: all .5s; {null !== width ? 'width:' + width : ''};">
            <div class="col-12">
                <div class="main-cont">
                    {#if null !== headline}
                        <h5 class="mb-0 w-100 float-left" style="font-weight: 300;">{headline}</h5>
                        <h6 class="mb-0 mt-0 w-100 float-left" style="font-weight: 700;">{subtitle}</h6>
                        {#if null !== content}
                            <p class="mb-0 w-100 float-left" style="font-weight: 300;font-size:12px">{content}</p>
                        {/if}
                    {/if}
                </div>
                {#if null !== button}
                    <div
                         class="{shadow ? '' : 'button-shadow'} small-box w-100 position-absolute hover-content d-flex justify-content-center" id="{randomId}"
                         style="bottom:{hoverBoxBottom}px; left:0;z-index:-1;">
                        <button class:hoverBoxActivated class="small-box-button btn btn-light text-dark w-100 mx-90 d-flex justify-content-center flex-column pt-0"
                                style="cursor: auto;padding-left: 0 !important;; padding-right: 0!important;padding-bottom:8px !important;;border-bottom-left-radius: 20px !important;;border-bottom-right-radius: 20px !important;">
                            <div class="hidden w-100 d-block mb-2" style="overflow: hidden">
                                <slot></slot>
                            </div>
                            <span on:click={(e) => hoverBoxBottomActivate(e)} class="trigger-toggle text-details w-100 justify-content-center" style="cursor:pointer;font-size: 0.8em;margin:auto;">{button}</span>
                        </button>
                    </div>
                {/if}
            </div>
        </div>
    </div>
</div>

<style>
    .button-shadow button {
        box-shadow: 0px 10px 10px rgb(108 73 172 / 7%), 0px 41.7776px 33.4221px rgb(108 73 172 / 5%), 0px 22.3363px 17.869px rgb(108 73 172 / 4%), 0px 12.5216px 10.0172px rgb(108 73 172 / 4%), 0px 6.6501px 5.32008px rgb(108 73 172 / 3%), 0px 2.76726px 2.21381px rgb(108 73 172 / 2%);
    }

    :global(.border-bottom-0){
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .btn-light * {
        color: #333 !important;
    }

    .hf-box.no-shadow {
        box-shadow: none !important;
    }

    .hf-box-only-shadow {
        box-shadow: 0px 100px 80px rgb(108 73 172 / 7%), 0px 41.7776px 33.4221px rgb(108 73 172 / 5%), 0px 22.3363px 17.869px rgb(108 73 172 / 4%), 0px 12.5216px 10.0172px rgb(108 73 172 / 4%), 0px 6.6501px 5.32008px rgb(108 73 172 / 3%), 0px 2.76726px 2.21381px rgb(108 73 172 / 2%);
        width: fit-content;
    }

    :global(.mx-90){
        max-width: 90%;
    }

    .cut-top {
        clip-path: inset(0px 0 -300px 0px);
    }

    .hover-content {
        transition: all .5s;
    }

    .has-hoverbox:hover {
        margin-right: 210px;
        transition: all .5s;
    }

    .has-hoverbox:hover .hover-box {
        right: -210px !important;
        transition: all .5s;
    }

    .hover-box {
        z-index: -999;
        bottom:0px;
        right:0px;
        transition: all .5s;
    }

    button {
        border-radius: 10px;
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
    }

    .h2-box-title {
        font-size: 26px;
    }

    .hf-box {
        /* Widget / M-size / Circle chart */
        /* Auto layout */
        display: flex;
        flex-direction: row;
        padding: 20px;

        width: 320px;
        min-height: 90px;

        /* Snow */

        background: #FFFFFF;
        background: linear-gradient(69.96deg, #FA738B 6.14%, #fe5d5e 98.54%), linear-gradient(270deg, #F579A0 0%, #E18DE9 100%);
        color: #fff;
        opacity: 1;
        /* Widget shadow */

        box-shadow: 0px 100px 80px rgba(108, 73, 172, 0.07), 0px 41.7776px 33.4221px rgba(108, 73, 172, 0.0503198), 0px 22.3363px 17.869px rgba(108, 73, 172, 0.0417275), 0px 12.5216px 10.0172px rgba(108, 73, 172, 0.035), 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725), 0px 2.76726px 2.21381px rgba(108, 73, 172, 0.0196802);
        border-radius: 10px;
    }

    .hf-box * {
        color: #fff
    }
</style>