<script>
    import jQuery from 'jquery'

    export let activeLink = 0
    export let showSideMenu = false

    function setActiveLink(linkIndex, event){

        activeLink = linkIndex

        let clickedEl = jQuery('.nav-item').eq(linkIndex)
        jQuery('.nav-item, .nav-link').removeClass('active')
        jQuery(clickedEl).addClass('active')

        setTimeout(function(){
            let newWidth = clickedEl.width()
            let newX = clickedEl.offset().left
            let newColor = clickedEl.attr('data-color')

            jQuery('.active-link-indicator').css({
                'width' : newWidth,
                'left' : newX,
                'background' : newColor
            })
        })
    }

    import { onMount } from "svelte";
    onMount(() => {
        jQuery(window).on('resize', function (){
            setActiveLink(
                jQuery('.nav-item').index(jQuery('.nav-item.active'))
            )
        })
        setActiveLink(0)
    })

</script>

<nav class="mb-3 shadow p-3 navbar navbar-expand-lg navbar-light bg-white position-fixed" style="top: 0; z-index: 999">
    <button class="ml-2 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand d-flex justify-content-between" href="/" style="width: 40%;">
        <span class="d-block"><img src="/src/assets/img/hf-logo.png" style="width:60px;"></span>
        <div class="w-search position-relative w-75 d-none">
            <input type="email" style="background-color: #EEF0FA;border:0;" placeholder="" class="ml-2 form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    </a>

    <style>
        .w-search:after {
            position: absolute;
            font-family: 'Font Awesome 6 Free';
            content: '\f002';
            font-weight: 900;
            right: 0;
            top: 3px;
            height: 100%;
            padding: 0 10px;
            color: #A1A3D4;
            opacity: 0.5;
        }
    </style>

    <div class="collapse navbar-collapsef d-flex justify-content-end" id="navbarTogglerDemo03" style="width: 60%;">
        
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li style="cursor: pointer" data-color="#fe5d5e" class="nav-item active">
                <a on:click="{(e) => setActiveLink(0, e)}" class="nav-link active">Ersparnisrechner</a>
            </li>

            <div class="active-link-indicator" style="width: 0"></div>
        </ul>

        <div class="form-inline my-2 my-lg-0 text-right d-flex justify-content-end align-items-center" style="width: 45px;">
            <i class="m-2 text-muted"></i>
            <div on:click="{() => showSideMenu = !showSideMenu}" style="cursor: pointer">
                <i class="text-muted fas fa-sliders"></i>
            </div>
        </div>
    </div>
</nav>

<style>
    .nav-item {
        position: relative;
    }

    .active-link-indicator {
        position: absolute;
        height: 3px;
        bottom: 0;
        transition: all .5s;
        border-radius: 10px;

        background: #fe5d5e;
    }

    nav {
        width: 100%;
        height: 60px;

    }
</style>