<script>
    import Icon from "../element/Icon.svelte";

    export let sideMenuWidth = 300

    export let showSideMenu = false
</script>

<div class="overlay-side-menu" on:click="{() => showSideMenu = false}" class:show={showSideMenu} style="width: 100%;"></div>
<div class="side-menu" class:show={showSideMenu} style="width: {sideMenuWidth}px;right:-{!showSideMenu ? sideMenuWidth + 'px' : '0'};">
    <div class="row">
        <a href="/">
            <div class="col-12 mb-2 sidebar-menu-item">
                <Icon small="true" icon="fas fa-user" text="Teilnehmer" horizontal="{true}"/>
            </div>
        </a>
        <a href="/auswertung">
            <div class="col-12 mb-2 sidebar-menu-item">
                <Icon small="true" icon="fas fa-file" text="Belege" horizontal="{true}"/>
            </div>
        </a>
<!--        <a href="/belegpruefung">-->
<!--            <div class="col-12 mb-2 sidebar-menu-item">-->
<!--                <Icon small="true" icon="fas fa-file" text="Belegprüfung" horizontal="{true}"/>-->
<!--            </div>-->
<!--        </a>-->
        <a href="/ersparnisrechner">
            <div class="col-12 mb-2 sidebar-menu-item">
                <Icon small="true" icon="fas fa-coins" text="Ersparnisrechner" horizontal="{true}"/>
            </div>
        </a>
        <a href="/registration">
            <div class="col-12 mb-2 sidebar-menu-item">
                <Icon small="true" icon="fas fa-key" text="Registrierung" horizontal="{true}"/>
            </div>
        </a>

        <a href="/src/assets/data/_EXPORT.csv" target="_blank" style="position: absolute;bottom:50px;left:0;">
            <div class="col-12 mb-2 sidebar-menu-item" style="background: #fff;box-shadow: none;">
                <Icon small="true" icon="fas fa-trash" text="Beispielliste herunterladen" horizontal="{true}"/>
            </div>
        </a>
        <a href="http://192.168.10.195/clear_all/oI87abubaLka" target="_blank" style="position: absolute;bottom:0;left:0;">
            <div class="col-12 mb-2 sidebar-menu-item" style="background: #fff;box-shadow: none;">
                <Icon small="true" icon="fas fa-trash" text="Alle Daten löschen" horizontal="{true}"/>
            </div>
        </a>

    </div>
</div>

<style>
    a {
        text-decoration: none;
    }

    .sidebar-menu-item {
        background: #f7f7f7;
        padding: 10px;
        box-shadow: 0 1px 3px #ccc;
    }

    .overlay-side-menu {
        position: absolute;
        width: 100%;
        background: rgba(0,0,0,0.5);
        height: 100%;
        z-index: -1;
        opacity: 0;

        transition: opacity .5s;
    }

    .overlay-side-menu.show {
        opacity: 1;
        z-index: 9999;

        transition: opacity .5s;
    }

    .side-menu {
        height: 100vh;
        background: #fff;
        position: fixed;
        box-shadow: 0 0 30px #ccc;

        transition: all .5s;

        z-index: 99999;
    }

    .side-menu.show-true {

    }
</style>