<script>
    import FullCard from "../../widgets/container/FullCard.svelte";
    import ListSupportPartners from "../../widgets/component/ListSupportPartners.svelte";

    import {fireToast} from "../../shared/shared.js";


    import steps from '../../../resources/steps.js'
    import data from '../../../resources/partners.js'
    import { get } from 'svelte/store'

    export let apiData = []

    let triggerCancelPartner = 0
    export let currentPartnerId = 1
//    let partner = data[currentPartnerId]
    let partner = null

    let cancelledPartners = []

    // when partners (apiData) are loaded, set the initial partner to be shown in the FullCard
    apiData.subscribe(partners => {
        let _partner = getPartnerById(partners, currentPartnerId)

        if(null === _partner) {
            partner = partners[0]
        }
    })

    function getPartnerById(partners, id) {
        id = parseInt(id)
        let p = null
        for (let i = 0; i < partners.length; i++) {
            let _partner = partners[i]

            if(id === _partner.id) {
                p = _partner
            }
        }

        return p
    }

    export function cancelPartnerProcess(event) {
        fireToast('success', 'Der Prozess wurde abgebrochen.')

        let currentPartnerIdInt = parseInt(currentPartnerId)

        if(!cancelledPartners.includes(currentPartnerIdInt)){
            cancelledPartners.push(currentPartnerIdInt)
        } else {
            cancelledPartners[currentPartnerIdInt] = null
        }

        partner=partner

        triggerCancelPartner++

    }

    function partnerIsDeactivated(triggerCancelPartner)
    {
        return false
        return cancelledPartners.includes(data[currentPartnerId].id)
    }

    function getProgressFromPartner(currentPartnerId, partner) {
        let hoveredPartnerData = getPartnerById(get(apiData), currentPartnerId)

        console.log('hoveredPartnerData')
        console.log(hoveredPartnerData)

        if(null === hoveredPartnerData) return 0

        return (hoveredPartnerData.partner_step/8)*100
    }

    function lastAction(currentPartnerId, partner) {
        let hoveredPartnerData = getPartnerById(get(apiData), currentPartnerId)

        if(null === hoveredPartnerData) return 0

        return hoveredPartnerData.last_action
    }

    function setApiDataPartnerLastAction(partnerId, newDate) {
        let _apiData = get(apiData)
        console.log('partnerId..............aa')
        console.log(partnerId)
        console.log(newDate)

        for (var i = 0; i < _apiData.length; i ++) {
            if(partnerId === _apiData[i].id) {
                console.log('ÄFOUND')
                _apiData[i].last_action = newDate
            }
        }

        apiData.set(_apiData)
    }

    function triggerFullcardUpdate() {
        console.log('triggerFullcardUpdate')
        console.log('partner')
        console.log(partner)
        partner = partner

        currentPartnerId = currentPartnerId
    }

    export let updateDatatable2

    //$:currentPartnerId && triggerFullcardUpdate()

</script>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12 mb-4">
                    <h4>Neue Teilnehmer <br>bei der Vernetzung unterstützen</h4>

                    <span class="body-2 float-left" style="width: 500px;float:left;">
                        Helfen Sie Unternehmen, die noch nicht von der H&F Community profitieren, sich mit Ihnen zu vernetzen.
                    </span>
                </div>

                <div class="col-12">
                    <ListSupportPartners bind:updateDatatable2 getPartnerById="{getPartnerById}" bind:apiData bind:cancelledPartners={cancelledPartners} bind:triggerCancelPartner={triggerCancelPartner} bind:currentPartnerId={currentPartnerId} bind:currentPartnerInformation={partner}/>
                </div>
            </div>
        </div>
        <div class="col-6">

<!--            actionHeadline={steps[partner.partner_step-1].name}-->

            <FullCard
                triggerFullcardUpdate="{triggerFullcardUpdate}"
                bind:currentPartnerId
                apiData="{apiData}"
                getPartnerById="{getPartnerById}"

                setApiDataPartnerLastAction="{setApiDataPartnerLastAction}"

                on:cancelProcess={cancelPartnerProcess}

                deactivated="{partnerIsDeactivated(triggerCancelPartner, partner)}"

                headlineSub={(undefined === partner ? '' : partner.location)}
                headline={(undefined === partner ? '' : partner.partner_name)}

                actionHeadlineSub="Aktueller Bearbeitungsschritt"
                actionHeadline={undefined === partner ? steps[0].name : (undefined === steps[partner.partner_step-1] ? 0 : steps[partner.partner_step-1].name)}

                sublineLeft="Schritt {(undefined === partner ? '' : partner.partner_step)}/8"
                sublineRight="Start der Anfrage: 03.05.2022"

                button1="Partner zu Aktion auffordern"
                button1Icon="fas fa-hand-point-right"

                button2="Videokonferenz mit Partner vereinbaren"
                button2Icon="fas fa-tv"

                button3="Prozess abbrechen"
                button3Icon="fas fa-ban"

                progress="{getProgressFromPartner(currentPartnerId, partner)}"

                bottomPart='<div class="col-12 mt-4 s-bv-miNRzGv3O"><div class="row mb-2 s-bv-miNRzGv3O"><div class="body-2 col-9 s-bv-miNRzGv3O">Partner nutzt bereits H&amp;F Transformer</div> <div class="body-2 col-3 s-bv-miNRzGv3O" style="text-align: right">Ja</div> </div><div class="row mb-2 s-bv-miNRzGv3O"><div class="body-2 col-9 s-bv-miNRzGv3O">Letzte Aktion</div> <div class="body-2 col-3 s-bv-miNRzGv3O" style="text-align: right">{lastAction(currentPartnerId, partner)}</div> </div><div class="row mb-2 s-bv-miNRzGv3O"><div class="body-2 col-9 s-bv-miNRzGv3O">Letzte Aktion des Partners</div> <div class="body-2 col-3 s-bv-miNRzGv3O" style="text-align: right">01.01.2022</div> </div></div>'
            />
        </div>
    </div>
</div>



