<script>
    import List from "../../widgets/component/List.svelte";
    import PercentageCard from "../../widgets/cards/PercentageCard.svelte";
    import PercentageCardDouble from "../../widgets/cards/PercentageCardDouble.svelte";
    import Box from "../../widgets/container/Box.svelte";
    import BoxLine from "../../widgets/component/text/BoxLine.svelte";
    import Bars from "../../widgets/component/Bars.svelte";
    import {onMount} from "svelte";

    export let barsReady = false

    export let eventBoxLeft = 0

    export let boxHovered = false

    export let eventsBoxLeft = 390

    function moveEventsBox(boxHovered) {
        console.log('boxHovered', boxHovered)

        if(boxHovered){
            eventsBoxLeft = 600
        } else {
            eventsBoxLeft = 390
        }
    }

    $: moveEventsBox(boxHovered)

    onMount(() => {
        calculateEventboxOffset()

        jQuery(window).on('resize', function(){
            calculateEventboxOffset()
        })
    })

    function calculateEventboxOffset(){
        eventBoxLeft = jQuery(document).width() - jQuery('.lastEventsBox').width() - 40
    }
</script>

<Box bind:boxHovered={boxHovered} style="position:fixed!important;bottom: 0;" headline="Belege" has_hoverbox="{true}" button={{title: 'Bearbeitung offener Belege', href: 'auswertung'}} bind:barsReady={barsReady}>
    <BoxLine headline="Erfolgreich" subline="Insgesamt" rightValue="417"/>
    <BoxLine headline="Fehlerhaft" subline="Insgesamt" rightValue="52"/>
    <BoxLine headline="Einsparungen" subline="gegenüber EDI" rightValue="<strong>215.265€</strong>" rightValueBold="{true}"/>

    <hr class="mb-3 mt-3">

    <BoxLine headline="Letzter Beleg" rightValue="14.03.22" small={true}/>
    <BoxLine headline="Letzter fehlerhaft. Beleg" rightValue="06.03.22" small={true}/>
    <BoxLine headline="Erster Beleg" rightValue="02.02.22" small={true}/>

    <Box slot="hover_show" has_hoverbox="{true}" width="max-content">
        <Bars bind:barsReady={barsReady}/>
    </Box>
</Box>

<Box bind:boxHovered={boxHovered} customClass="lastEventsBox" style="position:fixed!important;bottom: 0;" headline="Letzte Events" has_hoverbox="{true}">
<!--<Box style="position: fixed!important;bottom: 0" headline="" button={{title: 'Mehr laden'}}>-->
    <BoxLine headline="Order 2568744" subline="P&G to SEW" rightValue="14.03.22" small={true}/>
    <BoxLine headline="Order 2568745" subline="P&G to SEW" rightValue="06.03.22" small={true}/>
    <BoxLine headline="New Connection" subline="3M Italy" rightValue="02.03.22" small={true}/>
</Box>

<!--<Box customClass="lastEventsBox" style="position:fixed!important;bottom: 0;left:{eventBoxLeft}px;" headline="Letzte Events" has_hoverbox="{true}" button={{title: 'Mehr laden'}}>-->
<!--&lt;!&ndash;<Box style="position: fixed!important;bottom: 0" headline="" button={{title: 'Mehr laden'}}>&ndash;&gt;-->
<!--    <BoxLine headline="Order 2568744" subline="P&G to SEW" rightValue="14.03.22" small={true}/>-->
<!--    <BoxLine headline="Order 2568745" subline="P&G to SEW" rightValue="06.03.22" small={true}/>-->
<!--    <BoxLine headline="New Connection" subline="3M Italy" rightValue="02.03.22" small={true}/>-->
<!--</Box>-->