<script>
    export let icon = 'fas fa-user'
    export let text = ''
    export let small = false
    export let horizontal = false
</script>
<div class="{horizontal ? 'd-flex' : ''}">
    <div class="hf-bg-gradient d-flex justify-content-center align-items-center" style="cursor:pointer;{horizontal ? '' : 'margin: auto'};width: {small ? '35' : '70'}px;height: {small ? '35' : '70'}px;border-radius: {small ? '7' : '20'}px">
        <i style="font-size: {small ? '16' : '25'}px" class="{icon}"></i>
    </div>

    <span class="body-2 {horizontal ? 'd-flex align-items-center' : 'mt-2'}" style="{horizontal ? 'padding-left: 15px;' : 'text-align: center;float:left;font-size:12px;'}">
        {text}
    </span>
</div>