<svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" fill="none" viewBox="0 0 22 21">
    <path fill="url(#paint0_linear_297_13077)" fill-rule="evenodd" d="M5.098 1.424A2 2 0 002.27 4.253l5.771 5.771-6.96 6.96a2 2 0 102.83 2.828l6.958-6.96 6.912 6.912a2 2 0 002.829-2.828l-6.912-6.912 4.746-4.746a2 2 0 00-2.829-2.828L10.87 7.196 5.1 1.424z" clip-rule="evenodd"/>
    <defs>
        <linearGradient id="paint0_linear_297_13077" x1="21.195" x2=".496" y1="10.653" y2="10.653" gradientUnits="userSpaceOnUse">
            <stop stop-color="#fe5d5e"/>
            <stop offset="1" stop-color="#fe5d5e"/>
        </linearGradient>
    </defs>
</svg>
