<script>
import RegistrationCard from "../../widgets/cards/RegistrationCard.svelte";
</script>

<br>
<br>

<div class="container">
    <div class="row pt-5">
        <div class="col-6 offset-3">
            <RegistrationCard/>
        </div>
    </div>
</div>
